In [ ]:
import requests
import pandas as pd

In [ ]:
from bs4 import BeautifulSoup
url = "https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/"
response = requests.get(url)
if response.status_code == 200:
  soup = BeautifulSoup(response.content, "html.parser")
  car_titles = soup.find_all("div",{"data-test":"vehicleListingCardTitle"})
  prices = soup.find_all("span",{"data-test":"vehicleListingPriceAmount"})
  mileage = soup.find_all("div",{"data-test":"vehicleMileage"})
  vin = soup.find_all("div",{"class":"vehicle-card-vin-carousel mt-1 text-xs"})
  name_of_car = []
  price_of_car = []
  car_mileage = []
  car_vin = []
  for price in prices:
    price_of_car.append(price.text.strip())
  for title in car_titles:
    name_of_car.append(title.text.strip())
  for mile in mileage:
    car_mileage.append(mile.text.strip())
  for VIN in vin:
    car_vin.append(VIN.text.strip())
    x = [s.replace('VIN', '') for s in car_vin]
    car_vin = x


else:
    print("Failed to retrieve the page. Status code:", response.status_code)

In [ ]:
name_of_car

In [ ]:
car_details = pd.DataFrame({'Car Title': name_of_car, 'Price':price_of_car})

In [ ]:
car_details

In [ ]:
car_details.to_excel('Car Ad Details.xlsx', index=False)

In [ ]:
from bs4 import BeautifulSoup
url = "https://www.ebooks.com/en-ng/subjects/business-education-ebooks/489/?pageNumber=2"
response = requests.get(url)
if response.status_code == 200:
  soup = BeautifulSoup(response.content, "html.parser")
  book_names = soup.find_all("h2",{"class":"title"})
  author = soup.find_all("span",{"class":"author"})
  authors = []
  book_titles = []
  for writer in author:
    authors.append(writer.text.strip())
  for title in book_names:
    book_titles.append(title.text.strip())