In [ ]:
cookies = {
    'ec': 'eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzExNC4wLjAuMCBTYWZhcmkvNTM3LjM2In0=',
    'client_guid_timestamp': 'a39828c2-68fc-492e-ac1b-8cc20adf6a7b.1690569736314',
    '_gid': 'GA1.2.1493461039.1690569738',
    '_sp_ses.8ca5': '*',
    '_gcl_au': '1.1.506226889.1690569741',
    '_pbjs_userid_consent_data': '3524755945110770',
    '_pubcid': '40d9ad37-3208-404a-a2a2-c4053e4e95ed',
    '_fbp': 'fb.1.1690569742297.354107822',
    'pbjs-unifiedid': '%7B%22TDID_LOOKUP%22%3A%22FALSE%22%2C%22TDID_CREATED_AT%22%3A%222023-07-28T18%3A42%3A28%22%7D',
    'AMP_TOKEN': '%24NOT_FOUND',
    'sp-nuid': 'e8ff4d63-2b68-4481-8e1f-4edbd958cddb',
    '__gads': 'ID=fdc098efff5b1ae0:T=1690569960:RT=1690569960:S=ALNI_Mb7Qc8tWZVf79Y5Ws39ZHbADfe7GQ',
    '_gat': '1',
    '_uetsid': '7ae5de602d7611eebe2857bb275442fb',
    '_uetvid': '7ae618d02d7611eeb8de593cae618740',
    'cto_bundle': 'kCIEL19SMUlqaTJoTkFuVUllYkxXa04xWG1YR2Z6YlIlMkZNSUx2bnZVcmMyZnh2cmNuOTk5NVZNWU95QlFXRFFMT2FLNHU1RnZBRW0xUXRwdmtNd3FhOVVNZkRkYjBhWnZ2ZlJmVXNCZFJ4ZDhidThTQTBZTnE4Z1dkSWxVJTJCWWE2U0FuclBqJTJCQnVSNCUyQjRYNk56cXRyYWU3ZnlVQSUzRCUzRA',
    '_ga_KKZ1EQJKEV': 'GS1.1.1690569741.1.1.1690570165.0.0.0',
    '_ga': 'GA1.2.847650736.1690569738',
    '_sp_id.8ca5': 'e00c4671-0325-4c54-ac52-afa0c8052a2f.1690569740.1.1690570168.1690569740.da7170d6-6f28-40ca-9b6a-43d44b5a673a',
}

headers = {
    'authority': 'www.autolist.com',
    'accept': '*/*',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
    # 'cookie': 'ec=eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzExNC4wLjAuMCBTYWZhcmkvNTM3LjM2In0=; client_guid_timestamp=a39828c2-68fc-492e-ac1b-8cc20adf6a7b.1690569736314; _gid=GA1.2.1493461039.1690569738; _sp_ses.8ca5=*; _gcl_au=1.1.506226889.1690569741; _pbjs_userid_consent_data=3524755945110770; _pubcid=40d9ad37-3208-404a-a2a2-c4053e4e95ed; _fbp=fb.1.1690569742297.354107822; pbjs-unifiedid=%7B%22TDID_LOOKUP%22%3A%22FALSE%22%2C%22TDID_CREATED_AT%22%3A%222023-07-28T18%3A42%3A28%22%7D; AMP_TOKEN=%24NOT_FOUND; sp-nuid=e8ff4d63-2b68-4481-8e1f-4edbd958cddb; __gads=ID=fdc098efff5b1ae0:T=1690569960:RT=1690569960:S=ALNI_Mb7Qc8tWZVf79Y5Ws39ZHbADfe7GQ; _gat=1; _uetsid=7ae5de602d7611eebe2857bb275442fb; _uetvid=7ae618d02d7611eeb8de593cae618740; cto_bundle=kCIEL19SMUlqaTJoTkFuVUllYkxXa04xWG1YR2Z6YlIlMkZNSUx2bnZVcmMyZnh2cmNuOTk5NVZNWU95QlFXRFFMT2FLNHU1RnZBRW0xUXRwdmtNd3FhOVVNZkRkYjBhWnZ2ZlJmVXNCZFJ4ZDhidThTQTBZTnE4Z1dkSWxVJTJCWWE2U0FuclBqJTJCQnVSNCUyQjRYNk56cXRyYWU3ZnlVQSUzRCUzRA; _ga_KKZ1EQJKEV=GS1.1.1690569741.1.1.1690570165.0.0.0; _ga=GA1.2.847650736.1690569738; _sp_id.8ca5=e00c4671-0325-4c54-ac52-afa0c8052a2f.1690569740.1.1690570168.1690569740.da7170d6-6f28-40ca-9b6a-43d44b5a673a',
    'referer': 'https://www.autolist.com/toyota-corolla',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-autolist-session-guid': '3cb4e117-bf26-4030-b23a-417345e21640',
    'x-requested-with': 'XMLHttpRequest',
}

params = {
    'make': 'Toyota',
    'model': 'Corolla',
    'radius': '50',
    'page': '1',
    'sort_new_cars_last': 'true',
}

response = requests.get('https://www.autolist.com/api/cwv/seo/listings', params=params, cookies=cookies, headers=headers)

In [ ]:
import requests
import pandas as pd

In [ ]:
response

In [ ]:
len(response.json())

6

In [ ]:
response.json().keys()

dict_keys(['total_results_count', 'make_model_name', 'trims', 'ad_info', 'search_results', 'html'])

In [ ]:
car_info = response.json()['search_results']

In [ ]:
car_info

In [ ]:
make = []
year = []
model = []
id = []
price = []
mileage = []
dealer_name = []
for result in car_info:
  make.append(result['make'])
  year.append(result['year'])
  model.append(result['model'])
  id.append(result['id'])
  price.append(result['price'])
  mileage.append(result['mileage'])
  dealer_name.append(result['dealer_name'])

In [ ]:
make

In [ ]:
car_ad = pd.DataFrame({'Model': model, 'Mileage':mileage, 'Year':year, 'Dealer Name': dealer_name, 'Price': price, 'ID':id, 'Maker':make})

In [ ]:
car_ad

In [ ]:
headers = {
    'authority': 'www.autolist.com',
    'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^94^\\^, ^\\^Google',
    'accept': '*/*',
    'x-requested-with': 'XMLHttpRequest',
    'sec-ch-ua-mobile': '?0',
    'x-autolist-session-guid': 'c9fb9ffb-2c06-4468-a3d0-c26290c6994f',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4590.0 Safari/537.36',
    'sec-ch-ua-platform': '^\\^Windows^\\^',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.autolist.com/listings',
    'accept-language': 'en-US,en;q=0.9',
    'cookie': 'ec=eyJlZGdlVXNlckFnZW50IjoiTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzk0LjAuNDU5MC4wIFNhZmFyaS81MzcuMzYifQ==; client_guid_timestamp=1602952f-d1bf-4936-82e3-cbdedfa11d2d.1627825394925; scavenger-a493=i2edJn8U8quG2BtrlZCXcua4KB62fcJRrAhaI/t9eYZNJczdHQYj3P0Y4s6myhEl4IbJl8vp9L0oN+SXDh2fFcTvJ/vA/hPyRJ0ohE6LnQGIee5ACCL3nGqW5xFg3QnijfTypiJhVgTfPjk3c81AtkxzR54e+BHqQL0DI6/oWNd7iIkgvHaWjuilZuITytvFV0IAUJ0bX041NuAIFpx8K90bzfPLeAKgkwc0lpwB3cLwm8NcNKMD3xELdjI6leANl5jZJ9KzZ3K+5J7nCpxnAynFJJt2e95bby70BTVZ0qdWtSWGgwFxEdjmesrF42H7EgAjt4LMIKDuRVtbhVwu/q/wUhPoUZvZb6F+CbFpxMXuZTpd27JmWUrboqGTfyS3Nr7gV1kl6hr+8w0aOlmo8NlrdmNRb0u51Ex4zu4JTymiAUsWvS9JhNr/uvk4GVvM3kafDQeKq7v+xHkB/lCvPkqLEifYP7VVan6h5ZmvaQTgULjs0N5JhUd76Pt6c/tY5R0v8R67gjgbvW8n/4Gqzw==; _sp_ses.8ca5=*; _gid=GA1.2.96049973.1627825395; _fbp=fb.1.1627825395573.409117512; __gads=ID=c459f8bf6d0987dd:T=1627825394:S=ALNI_MaW1epD3HNJsvJQTCnPWSJCcOdE_w; AMP_TOKEN=^%^24NOT_FOUND; sp-nuid=e4461948-a1a2-45a1-88f8-45c2889d9576; _gcl_au=1.1.519751617.1627825557; _ga_152345333=GS1.1.1627825395.1.1.1627828426.0; _ga=GA1.2.2118379867.1627825395; cto_bundle=WV1etl8zMUc1cGt6WnZNSEZMYWhwNnJjUXpTYzQxVzZ6QzM5VE1tWXZFcjQ3ZWhrNTlETG1CemlUdmNFYUtIbXdCQTNFelJmY3h6QXA0SlVIZml0WVg2OWQxZlBPMmRqbExXNU9XZTM0V0VaR09tbHBvJTJGdERCb21zZUVKJTJCTG1vVzlDV0w2VjA0bDklMkJnRjdrMmZPUExmJTJGY0l6USUzRCUzRA; _gat=1; _sp_id.8ca5=d3d3f60d-371c-4289-92fe-1c6f66b4979f.1627825395.1.1627828912.1627825395.8bc1e545-8ca1-448e-b1ba-ec8d2c359ada',
    'if-none-match': 'W/^\\^c6f72fa4ef059e03ea0309ebd57c197d^\\^',
}


model = []
mileage = []
year = []
dealer_name = []
price = []
id = []
make = []
for i in range(1,6):

    params = (
        ('make', 'Tesla'),
        ('location', 'San^%^20Francisco,^%^20CA'),
        ('latitude', '37.7749295'),
        ('longitude', '-122.4194155'),
        ('radius', '50'),
        ('page', str(i)),
    )

    # response variable for the get request
    response = requests.get('https://www.autolist.com/api/cwv/seo/listings', headers=headers, params=params)

    # json object
    results_json = response.json()

    # result items (20 items for each page)
    result_items = results_json['search_results']

    for result in result_items:

        # model
        model.append(result['model'])

        # mileage
        mileage.append(result['mileage'])

        # year
        year.append(result['year'])

        # dealer name
        dealer_name.append(result['dealer_name'])

        # price
        price.append(result['price'])
        id.append(result['id'])
        make.append(result['make'])

In [ ]:
more_ads = pd.DataFrame({'Model': model, 'Mileage':mileage, 'Year':year, 'Dealer Name': dealer_name, 'Price': price, 'ID':id, 'Maker':make})

In [ ]:
more_ads

,Model,Mileage,Year,Dealer Name,Price,ID,Maker
0,Model 3,"46,516 Miles",2018,CarMax Serramonte - Now Open,"$35,998",267392309,Tesla
1,Model 3,"22,500 Miles",2018,Putnam Ford Of San Mateo,"$33,399",269382628,Tesla
2,Model 3,"14,211 Miles",2018,CarMax Fairfield - Now Offering Curbside Picku...,"$39,998",267445949,Tesla
3,Model 3,"14,550 Miles",2018,Ever Cars Co,"$35,900",269177617,Tesla
4,Model S,"37,269 Miles",2021,Stevens Creek Nissan,"$76,888",269418883,Tesla
...,...,...,...,...,...,...,...
95,Model 3,"10,726 Miles",2023,CarMax Santa Rosa - Now Open,"$39,998",266733021,Tesla
96,Model Y,"51,902 Miles",2020,CarMax Santa Rosa - Now Open,"$43,998",265640547,Tesla
97,Model 3,"35,076 Miles",2019,CarMax Fremont - Now Open,"$33,998",269979586,Tesla
98,Model 3,"36,411 Miles",2019,CarMax Fremont - Now Open,"$32,998",269681712,Tesla
99,Model X,"49,536 Miles",2020,CarMax Pleasanton - Now Open,"$74,998",267993018,Tesla

In [ ]:
more_ads.to_excel('more_ads.xlsx', index=False)